$contrast_background: rgb(30,120,30);
$subtle_background: #d0d0d0;

$label_color: #050; // green (pops)
$label2: #666; // grey (fades into background)

$pop_out: 1px 1px 1px 0;
$glow: 0 0 10px 0;

@mixin pop_in {
  background-color: #ddd;
  box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.1);
  padding: 7px;
  border-radius: 5px;
}

@mixin pop_out {
  background-color: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
}

#summary_box, #summary_box_fail,
#course_detail_header, #prof_detail_header, #workload_detail_header {
  width: 100%;
  margin: 20px 0 7px 0;
  @include pop_out;

  text-align: center;

  td {
    width: 25%;
    text-align: center;
  }
}

#course_detail_header, #prof_detail_header, #workload_detail_header {
  color: $label_color;
  font-weight: bold;
  text-align: left;
  padding: 5px 15px;
  width: auto;
}

.not_found {
  font-style: italic;
}

tr.labels, h1 {
  font-weight: bold;
  color: $label_color;
  font-style: normal;
}

h2 {
  font-weight: normal;
  color: $label2;
}

#course_info {
  #offerings, #description {
    /*padding: 0px 5px 20px 10px;*/
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    float: left;
    width: 305px;
    vertical-align: top;
  }

  #description {
    @include pop_in;

    #description_tags {
      margin-top: 20px;
      vertical-align: bottom;
    }

    .distrib_tag, .wc_tag {
      font-weight: bold;
      color: white;
      background-color: #191;
      border-radius: 10px;
      padding: 2px 7px;
      box-shadow: $pop_out rgba(0,0,0,0.2);
    }

    .wc_tag {
      background-color: #060;
    }
  }
}

.comments_box {

  overflow: hidden;

  .left_column, .right_column {
    width: 50%;
  }
  .left_column {
    float: left;
  }
  .right_column {
    float: right;
  }

  .comment_bubble {
    @include pop_out;
    background-color: #fafafa;
    border-radius: 15px / 10px;
    border-bottom-right-radius: 0px;
    margin: 5px;
    width: 305px; /* TODO */
    float: left;

    .comment {
      margin-bottom: 5px;
      oferflow: hidden;
    }

    .author_details {
      float: right;
      .grade {
        margin-right: 10px;
        float: left;
      }
      .rating {
        float: right;
      }
    }
  }
}

/* STAR RATINGS */

.star-rating {}

.inline {
  display: inline;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* ----------- view: new ------------------ */

#review_motivations {
  @include pop_in;
}

#review_motivations {
  width: 400px;
  margin: 10px 0px;

  h4 {
    margin: 2px;
    margin-bottom: 7px;
  }

  td {
    width: 130px;
  }
}
.new_review_textarea {
  padding: 7px;
  width: 414px;
  border-radius:4px;
  border: 0px;
  @include pop_in;
  background-color: white;
}

/* ------------ view: new_batch --------------- */

table#batch_reviews {
  /*@include pop_out;*/
  width: 100%;
  /*border-spacing: 0;*/
  border-spacing: 0px inherit;
  border-collapse: separate;

  /*tr.dark {
    background-color: #ddd;
  }*/

  tr.data-row:hover {
    background-color: #f3f3f3;
  }
  tr.oops:hover {
    background-color: #d0d0d0;
    color: #777;
  }
  tr.comment-row:hover {
    background-color: #e7e7e7;
  }

  th {
    font-weight: normal;
    font-style: italic;
    text-align: left;
  }

  tr {
    margin: 7px 0px;
    padding-top: 5px;

    button {
      width: 1.2em;
      height: 1.2em;
    }

    .full_review {
      a {
        float: right;
        color: green;
        font-style: italic;
        text-decoration: none;
        font-size: 90%;
      }
    }

    td {
      margin: 0;
      border: none;
      padding: 5px 3px;
      border-bottom: 1px solid #ccc;
    }
    td.comment-button {
      padding-left: 0px;
    }
    .title {
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
    .grade {
      white-space: nowrap;
      padding: 0px 10px;
      font-weight: bold;
    }
    .rating {
      width: 90px;
    }
    th.term-name {
      font-weight: bold;
    }
  }

  tr.oops {
    background-color: #ddd;
    color: #888;

    td {
      border-bottom: 1px solid #bbb;
    }

    td.error {
      font-style: italic;
    }
  }

  tr.comment-row {
    background-color: #eee;
    padding: 5px;
    border-radius: 10px;
    td {
      padding: 5px;
      border-bottom: 1px solid #ccc;
    }
    textarea {
      width: 830px;
      float: right;
      resize: vertical;
      font-size: 0.85em;
    }
    span {
      padding-top: 7px;
      text-align: right;
      vertical-align: middle;
    }
  }

  tr.term-divider {
    height: 60px;
    vertical-align: bottom;
    td, th {
      color: $label_color;
      border-bottom: 1px solid gray;
      margin: 10px;
    }
  }
}
