<%= stylesheet_link_tag "review" %>
<div class="PageTitle">
<h1>Review All the Courses You've Taken Real Quick</h1>
</div>


<h2>
<a id="transcript_review_bookmarklet" href="javascript:(function()%7Bdocument.head.appendChild(document.createElement('script')).src='http://localhost:3000/assets/transcript_scraper_bookmarklet.js';%7D)();">REVIEWIFY</a>
</h2>

<ul class="unordered type18">

<li>
Drag the above link into your bookmark bar
</li>

<li>
Go to bannerstudent
</li>

<li>
Hit the bookmarklet
</li>

<li>
Party
</li>

</ul>

