<%= stylesheet_link_tag "review" %>
<div class="PageTitle">
<h1>Quick Review</h1>
</div>

Quick Review makes it easy for you to write reviews...quickly. No more wasting
time searching for all the courses you've taken. Just follow the steps below
to import your courses from Banner, and we'll make sure it's
incredibly easy for you to review them in one fell swoop (we're talking seconds,
not minutes).
<br/><br/>
Don't worry, we won't save any data that you don't want us to. Your information
is safe with us.
<br/><br/>

<div class='well'>
  <h2>
  <a id="transcript_review_bookmarklet" href="javascript:(function()%7Bdocument.head.appendChild(document.createElement('script')).src='http://localhost:3000/assets/transcript_scraper_bookmarklet.js';%7D)();">REVIEWIFY</a>
  </h2>

  <ul class="unordered type18">

  <li>
  Drag the above link into your bookmark bar.
  </li>

  <li>
  Make sure you're on <strong>a secure network</strong> (e.g. Dartmouth Secure)
  before proceeding.
  </li>

  <li>
  Go to <%= link_to 'bannerstudent', 'https://dartmouth.edu/bannerstudent' %> (or click the REVIEWIFY bookmark in your bookmarks bar to
  be taken there).
  </li>

  <li>
  Go to <strong>Academic Transcript (Unofficial)</strong>, and choose the options <strong>Undergraduate</strong>
  and <strong>Undergraduate Unofficial</strong> before hitting <strong>Submit</strong>.
  </li>

  <li>
  Click the REVIEWIFY bookmarklet.
  </li>

  <li>
  Your browser might show you a warning. Don't worry, we're being careful with
  your data, and as long as you're on a secure network you have nothing to
  worry about.
  </li>

  <li>
  Party.
  </li>

  </ul>
</div>
