<%= stylesheet_link_tag "review" %>

<h1>Review All the Courses You've Taken Real Quick</h1>


<a id="transcript_review_bookmarklet" href="javascript:(function()%7Bdocument.head.appendChild(document.createElement('script')).src='http://localhost:3000/assets/transcript_scraper_bookmarklet.js';%7D)();">REVIEWIFY</a>
<ol>

<li>
Drag the above link into your bookmark bar
</li>

<li>
Go to bannerstudent
</li>

<li>
Hit the bookmarklet
</li>

<li>
Party
</li>

</ol>

