.portfolio_rotator	{
					width:545px;
					float:left;
					position:relative;
					}

.roundabout-holder	{
					width:545px;
					height:220px;
					margin:65px 0;
					padding:0;
					list-style:none;
					}

.roundabout-moveable-item {
					width:532px;
					height:274px;
					padding:0;
					display:block;
					overflow:hidden;
					cursor:pointer;
					border:4px solid #fff;
					box-shadow:0 0 4px #979797;
					-moz-box-shadow:0 0 4px #979797;
					-webkit-box-shadow:0 0 4px #979797;
					border-radius:4px;
					-moz-border-radius:4px;
					-khtml-border-radius:4px;
					-webkit-border-radius:4px;
					}

.roundabout-in-focus {cursor: pointer;}