<h1>Course Listings</h1>
  
<table>
  <tr>
    <% if @current_user.present? %>
    <th width="50px"></th>
    <% end %>
    <th width="30px"></th>
    <th></th>
  </tr>

  <% @courses.each do |course| %>
    <tr course_id=<%= course.id.inspect %>>
      <% if @current_user.present? %>
        <td>
          <%= check_box_tag "course[#{course.id}][wishlist]", true.to_s, @wishlist && @wishlist.any? {|w| w.course_id == course.id}  %>
        </td>
      <% end %>
      <td><%= course.number %></td>
      <td><%= course.department %></td>
      <td><c></td>
    </tr>
  <% end %>
</table>
