
.result {
	width: 100%;
	margin-bottom: 20px;
	background-color:#262;
	border-radius:10px;
	color:white;
	font-weight:bold;
	padding-bottom:6px;
	margin:13px 0 13px 0;
}


.result {
	h4 {margin: 5px 10px 3px 10px;}
	
	a {color:#4c4; text-decoration:none;}
	
	span {
	  display: block; padding: 2px 10px;
		
		a {
			&:visited {color:#3a3;}
			&:hover {color:#33e033;}
			&:active {color:#33e033;}
		}
		
		.fieldname {
			display:block; float:left; width:100px;
			color:#3a3; font-weight:normal; font-style:italic;
		}
		
		.notfound {color:#044904; font-weight:normal; font-style:italic;}
	}
	
	.dept_num{width: 100%; font-size: 1.3em;}
	
	.desc{width: 100%; font-size: 1.1em;}
	
	/* course title acts as the header of each section -- darker color */
	.dept_num_title {
		border-radius:10px 10px 0 0; padding-top:5px;
		font-size:1.2em; letter-spacing:1px; background-color:#055005;
	}
	
	/* CRN is differently colored & off to the right b/c people don't care about it when skimming */
	.crn {
		float:right;
		color:#3a3; font-weight:normal; font-style:italic;
	}

	.offering {
		margin-left: 10px;
		.prof {margin-left: 5px;}
		.time {margin-left: 5px;}
		.term {}
		.crn {margin-left: 5px;}	
	}
}

