<div class="page-header">
	<h1 class="text-center">Course Search</h1>
</div>
<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<%= form_tag(simple_search_path) do %>
		<div class="input-group">
			<input type="text" class="input-lg form-control" placeholder="Search by course title, number, professor, etc." />
			<span class="input-group-btn">
				<button class="btn btn-default btn-lg" type="button">Search!</button>
			</span>
		</div><!-- /input-group -->
		<% end %>
	</div><!-- /.col-lg-6 -->
</div><!-- /.row -->
