<%= stylesheet_link_tag "review" %>
<div class="PageTitle">
<h1>Review Courses</h1>
</div>
<h3>How do I write a review?</h3>
<ul class='unordered type10'>
  <li>Search for a course using the box below.
  <li>Click on the "write review" button for your course on the right.
  <li>Rate your course from 1-5 in a few categories.
  <li>Every review you write helps other students pick good classes from bad!
</ul>
<br>
<div id="content">

  <%= form_tag(simple_search_path, :id => 'simple_search_form') do %>
    <input id="search" type="text" name="q">
    <input type="submit" value="Search" />
    <a href="<%= search_path %>">Advanced Search</a>
  <% end %>

  <script type="text/javascript">
    $(function() {
      $('#search').focus();
    });
  </script>
</div>

