
<div class="PageTitle">
  <h1>Fullwidth</h1>
</div>
<div id="breadcrumbs">
  <a href="index.html" title="Home">Home</a> &raquo; <a href="about.html" title="About Us">About Us</a> &raquo; Fullwidth
</div>
<!-- Content Area -->
<div id="content">
  <!-- Columns one half col + one half col -->
  <div class="columns">
    <div class="column">
      <h3>Column 1</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 2</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <!-- Columns one third col + one third col + one third col -->
  <div class="columns2">
    <div class="column">
      <h3>Column 1</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 2</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 3</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <!-- Columns one fourth col + one fourth col + one fourth col + one fourth col -->
  <div class="columns3">
    <div class="column">
      <h3>Column 1</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 2</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 3</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 4</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <!-- Columns one fifth col + one fifth col + one fifth col + one fifth col + one fifth col -->
  <div class="columns4">
    <div class="column">
      <h3>Column 1</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 2</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 3</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 4</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column">
      <h3>Column 5</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <!-- Columns one fourth col + three fourth col -->
  <div class="columns5">
    <div class="column">
      <h3>Column 1/4</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column" data-place="3">
      <h3>Column 3/4</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus. Sed vitae erat et tellus adipiscing lobortis vel in orci. Morbi semper, lacus ac rutrum tincidunt, eros ipsum ultricies lorem, quis dictum sem eros sed ante. Curabitur adipiscing vulputate euismod. Phasellus commodo nisi vitae tellus adipiscing faucibus at nec leo.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <!-- Columns one third col + two third col -->
  <div class="columns6">
    <div class="column">
      <h3>Column 1/3</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column" data-place="2">
      <h3>Column 2/3</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus. Sed vitae erat et tellus adipiscing lobortis vel in orci. Morbi semper, lacus ac rutrum tincidunt, eros ipsum ultricies lorem, quis dictum sem eros sed ante.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <!-- Columns two third col + one third col -->
  <div class="columns7">
    <div class="column" data-place="2">
      <h3>Column 2/3</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus. Sed vitae erat et tellus adipiscing lobortis vel in orci. Morbi semper, lacus ac rutrum tincidunt, eros ipsum ultricies lorem, quis dictum sem eros sed ante.</p>
    </div>
    <div class="column">
      <h3>Column 1/3</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <!-- Columns one fourth col + two fourth col + one fourth col -->
  <div class="columns8">
    <div class="column">
      <h3>Column 1/4</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="column" data-place="2">
      <h3>Column 2/4</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus. Sed vitae erat et tellus adipiscing lobortis vel in orci. Morbi semper, lacus ac rutrum tincidunt, eros ipsum ultricies lorem, quis dictum sem eros sed.</p>
    </div>
    <div class="column">
      <h3>Column 1/4</h3>
      <p>Suspendisse potenti. Nullam in lectus nibh, in semper eros. Integer nec diam tellus. Quisque sit amet auctor purus.</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="gototop"><a href="#MainNav">top &uarr;</a></div>
  <blockquote><p>And Many Other Column Variations Also Available...</p></blockquote>
</div>
