
<div class="PageTitle">
  <h1>Welcome!</h1>
</div>

<div id='content'>
  <p>
    Welcome to <%= link_to 'Hacker Club', 'http://dartmouthhackers.com' %>
    and
    <%= link_to 'Student Assembly', 'dartmouth.edu/~saportal' %>'s new Course Picker.
  </p>
  <p>
    We heard students' complaints about the old
    <%= link_to 'SA Course Guide', 'http://hacktown.cs.dartmouth.edu/gudru' -%>
    (Writing a review is a chore! Reading reviews is somehow even <i>worse</i>!)
    and the newer <%= link_to 'Course Rank', 'https://www.courserank.com/dartmouth/main' %>
    (It's too simple! Where'd all the old reviews go?)
    so we tried to design a new site with that criticism in mind.
  </p>
  <p>
    <h2>This is just a beta</h2>
    Which really means two things:
    <ul class="unordered type10">
      <li>We have a <i>bunch</i> of other features in the works that we'll be rolling
        out soon.</li>
      <li><strong>We want your feedback!</strong> If something's not working how it should or you
        have any ideas on how to improve this site, send an email to
        <a href='mailto:dartmouth-coursepicker@gmail.com'>dartmouth-coursepicker@gmail.com</a>!</li>
    </ul>
  </p>


      <!-- TODO: add the search & write_review blurbs -->

  <div>

    <h2>Features in the works</h2>
    <ul>
      <li> <strong>Wishlists</strong>. Ever found a class that you know you want to take _eventually_, but
      this just isn't the right term? Well, wishlists should help solve that.

      <li> <strong>Search by review rating</strong>. Looking for a class with a light
      workload? Or thinking about taking a class in a new department and want to know who the
      beloved, must-have profs are?

      <li> <strong>Review break-downs</strong>. Break a classes' reviews down between majors
      and non-majors, or students scoring above and below the median (for instance).

      <li> <strong>Better! Faster! Stronger!</strong>. We're hoping to move the
        site to a faster server soon. If you experience any slowness, I guess just be
        patient. A faster site is coming!
    </ul>

  </div>
</div>